<div class="conteudo">
  <header class="conteudo__header">
    <div class="conteudo__header__div-img">
      <img
        class="conteudo__header__div-img__img"
        src=""
        alt="logo QuantumBank"
      />
    </div>
    <div class="conteudo__header__menu">
      <button class="conteudo__header__menu__button" style="color:#cc0000;">Para você</button>
      <button class="conteudo__header__menu__button">Para sua empresa</button>
      <div class="input-group rounded" style="width: 15rem;">
        <input type="search" class="form-control rounded" placeholder="O que você procura?" aria-label="Search" aria-describedby="search-addon" />
        <span class="input-group-text border-0" id="search-addon">
          <i class="fas fa-search"></i>
        </span>
      </div>
    </div>
  </header>
  <div class="conteudo__subheader"></div>
</div>
